<div>
  <div class="clearfix mt-1">Release date:</div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="d1">
      <input class="form-check-input" type="checkbox" id="d1" value="2018" (click)="toggleDate(2018)">
      2018
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="d2">
      <input class="form-check-input" type="checkbox" id="d2" value="2017" (click)="toggleDate(2017)">
      2017
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="d3">
      <input class="form-check-input" type="checkbox" id="d3" value="2016" (click)="toggleDate(2016)">
      2016
    </label>
  </div>

  <div class="clearfix mt-1">Category:</div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="c1">
      <input class="form-check-input" type="checkbox" id="c1" value="Animated" (click)="toggleCategory('Animated')">
      Animated
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="c2">
      <input class="form-check-input" type="checkbox" id="c2" value="Drama" (click)="toggleCategory('Drama')">
      Drama
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="c3">
      <input class="form-check-input" type="checkbox" id="c3" value="Action" (click)="toggleCategory('Action')">
      Action
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="c4">
      <input class="form-check-input" type="checkbox" id="c4" value="Romance" (click)="toggleCategory('Romance')">
      Romance
    </label>
  </div>

  <div class="form-group" style="margin-top: 0.75em">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by name"
          id="nameInput" [value]="name" (input)="updateName($event)"
          (keyup.enter)="search()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"
          (click)="search()">Search</button>
      </div>
    </div>
  </div>
</div>
<button (click)="release()">Release</button>

<div class="alert" role="alert" *ngIf="searching">
  Searching ...
</div>

<div class="alert alert-info" role="alert" *ngIf="searchResults">
  Searched for <em>{{ searchResults }}</em>
</div>
