<div class="container-fluid">

  <div class="row">

    <div class="card" style="width: 20rem; margin-right: 1em; margin-bottom: 1em;">
      <img class="card-img-top" src="assets/images/rxjs-recursive-obs-01.png" alt="Loop with expand operator">
      <div class="card-body">
        <h4 class="card-title">Recursive Observable</h4>
        <p class="card-text">Illustrates a recursive loop which emits results
          as they come.</p>
        <a [routerLink]="['/rxjs-recursive-observable', 'factorial']" class="btn btn-primary">Go to demo</a>
      </div>
    </div>

    <div class="card" style="width: 20rem; margin-right: 1em; margin-bottom: 1em;">
      <img class="card-img-top" src="assets/images/blob-save-01.png" alt="HTML5 Blob URLs">
      <div class="card-body">
        <h4 class="card-title">Blob save</h4>
        <p class="card-text">Simple interaction to allow a user
          to save a file.</p>
        <a [routerLink]="['/blob-save']" class="btn btn-primary">Go to demo</a>
      </div>
    </div>  

    <div class="card" style="width: 20rem; margin-right: 1em; margin-bottom: 1em;">
      <img class="card-img-top" src="assets/images/rxjs-event-stream-01.png" alt="HTML5 Blob URLs">
      <div class="card-body">
        <h4 class="card-title">Event stream</h4>
        <p class="card-text">Buffer events and trigger action afterwards.</p>
        <a [routerLink]="['/rxjs-event-stream']" class="btn btn-primary">Go to demo</a>
      </div>
    </div>  

  </div>


</div>

